* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-image: url("webImages/backgroundFood7.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 80% 0%; 
  font-family: 'Roboto', sans-serif;

  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  padding-bottom: 20px;
}

header {
  text-align: left;
  padding: 20px 0px 60px 20px;
}

section {
  min-height: 450px;
  margin: 25px 5px 0px 5px;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.5)
}

section.placeList {
  min-height: 200px;
}
.contentBox {
  padding: 10% ;
}

h1 {
  margin: 0%;
  font-size: 44px;
}

h2 {
  margin: 0%;
  font-size:28px;
}

.h3Style {
  margin-top: 0px;
}
.imgStyle {
  width: 100%;
  height: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
}

div.logoBox {
background-color: #7F6F52;
width: 130px;
height:125px;
border: 2px solid rgb(255, 255, 255);
}

#logoButton{
  background-repeat: no-repeat;
  width: 130px;
}

input[type="text"] {
  width: 90%;
  margin: 20px 0px;
  }

  .button {
    width: 70%;
    background-color: #ccb283;
    font-size: 18px;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px
    }

    .button:hover {
      background-color: #B39C72;
    }

    ul {
      list-style-type: none;
      line-height: 1.5;
      padding: 0px;
  }


  @media only screen and (min-width: 700px) {
    body {

      font-size: 20px;

    }
    header {
      text-align: left;
      padding: 20px 0px 40px 150px;
    }
    section {
      min-height: 450px;
      margin: 25px 150px 0px 150px;
      border: 1px solid rgb(255, 255, 255);
      background: rgba(255, 255, 255, 0.5)
    }

    .imgStyle {
margin: 50px 0px 0px 0px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 5%;
      width: 50%;
      height: auto;
    }

    div.logoBox {
      background-color: #7F6F52;
      width: 200px;
      height:200px;
      border: 2px solid rgb(255, 255, 255);
      }
      
      #logoButton{
        background-repeat: no-repeat;
        width: 200px;
      }
      .contentBox {
        padding: 0% ;
      }
      h1 {
        margin: 20px;
        font-size: 44px;
      }
      input[type="text"] {

        width: 400px;
        margin: 20px 0px;
        }
      
        .button {
          display:block;
          margin-left:auto;
          margin-right:auto;
          width: 200px;
          background-color: #ccb283;
          font-size: 18px;
          border: 2px solid rgb(255, 255, 255);
          }
          label {
            display:block;
            }
            h2 {
              margin: 30px;
              font-size:28px;
            }

            }
            li {
              margin: 0% 10%;
              text-align: left;
              
            }
            
  }